# Dependencies
node_modules/

# Build output
/dist/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store


src/justel-data-processer/input
src/justel-data-processer/output
src/import-to-pg/documents/incoming3    
src/import-to-pg/documents/incoming_no_articles3
src/import-to-pg/zipped
src/import-to-pg/errors
src/import-to-pg/processing-state.json
logs/
